@{
    ViewData["Title"] = "AboutUs";
    Layout = null;
}

<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="contenedor-principal-au">
    <div class="au-title">
        <h3>¿Quiénes somos?</h3>
    </div>

    <div class="contenedor-au-info">
        <div>
            <h4 class="ttar">Una plataforma de difusión para los investigadores</h4>
        </div>
        <div class="img-au-upqroo">
            <img class="upqrooimg" src="~/css/image 32sa.png" alt="Description">
        </div>
        <div class="au-info-content">
            <h4 class="adn">Acerca de nosotros</h4>
            <div class="separator-line"></div>
            <p class="text">
                Bienvenido a ScireHub: Tu Centro de Conocimiento Innovador <br>
                En ScireHub, nos dedicamos apasionadamente a la búsqueda constante de conocimiento, explorando las fronteras de la investigación para impulsar descubrimientos significativos. Somos una comunidad dinámica de mentes curiosas y apasionadas, unidas por la visión de crear un impacto positivo a través del poder transformador de la investigación. <br>
                Nuestra Misión: Impulsar el Progreso a través de la Investigación <br>
                En un mundo que evoluciona rápidamente, la investigación se convierte en el faro que guía el camino hacia el futuro. En ScireHub, nos comprometemos a fomentar un ambiente colaborativo que nutra la creatividad, la innovación y la excelencia académica. Nuestra misión es clara: avanzar en el conocimiento, desafiar las convenciones y contribuir de manera significativa al desarrollo de la sociedad. <br>
                Valores que Nos Definen: Excelencia, Colaboración y Transparencia <br>
                En el corazón de ScireHub yace un compromiso inquebrantable con la excelencia. Buscamos la calidad en cada investigación que llevamos a cabo, inspirándonos en estándares rigurosos para garantizar la validez y relevancia de nuestros hallazgos. La colaboración es otro pilar fundamental de nuestra filosofía; creemos en el poder de unir fuerzas, compartiendo ideas y perspectivas para alcanzar soluciones más completas y efectivas. Además, abrazamos la transparencia en cada paso de nuestro proceso de investigación, promoviendo la honestidad intelectual y la confianza en nuestra comunidad. <br>
            </p>
            <div class="separator-line"></div>
            <p class="text">
                Nuestra Comunidad: Diversidad de Pensamiento y Compromiso Global <br>
                En ScireHub, celebramos la diversidad de pensamiento como un motor vital para la innovación. A través de la inclusión de mentes brillantes de diversas disciplinas, culturas y perspectivas, construimos un ecosistema de investigación vibrante y enriquecedor. Nuestra influencia trasciende fronteras, comprometiéndonos con problemas globales y aportando soluciones a desafíos que impactan a la humanidad en su conjunto. <br>
                Únete a Nosotros en el Viaje del Conocimiento <br>
                ScireHub no es simplemente un centro de investigación; es un llamado a todos aquellos que buscan el desafío intelectual, la colaboración fructífera y el impacto duradero. Ya sea que seas un investigador experimentado, un estudiante entusiasta o simplemente alguien apasionado por el descubrimiento, te invitamos a unirte a nosotros en este emocionante viaje del conocimiento. <br>
                Descubre. Colabora. Impacta. Bienvenido a ScireHub.
            </p>
            <h5 class="ex">Explora el Conocimiento en Tiempo Real: Síguenos en Redes Sociales</h5>
            <h5 class="ex">Únete a nuestra comunidad, comparte ideas y sé parte de conversaciones significativas que están dando forma al futuro.</h5>
            <h5 class="ex">¡Descubre más, conecta más!</h5>
        </div>
        <div class="scirehub-info">
            <img src="~/css/energia-atomica.png" alt="ScireHub Logo">
            <div>ScireHub</div>
        </div>
    </div>
    <div class="container">
        <div class="avatar-flip">
            <img src="Imagenes/Axel.jpg" height="150" width="150">
            <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
        </div>
        <div class="text-container">
            <div class="content">
                <div class="followdiv">
                    <h2>Axel Coutiño</h2>
                    <button class="follow"><img src="~/css/facebook (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/twitter (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/whatsapp.svg" alt=""></button>
                </div>
                <h4>Investigador</h4>
                <p>
                    Bienvenido a [Nombre de la Plataforma], tu destino definitivo para explorar el fascinante mundo de la investigación y el conocimiento. En el corazón de nuestra plataforma se encuentra una comunidad vibrante de mentes curiosas, científicos visionarios y expertos apasionados que buscan impulsar el progreso y compartir descubrimientos que transforman el futuro.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="avatar-flip">
            <img src="Imagenes/fierro.jpg" height="150" width="150">
            <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
        </div>
        <div class="text-container">
            <div class="content">
                <div class="followdiv">
                    <h2>Roberto Fierro</h2>
                    <button class="follow"><img src="~/css/facebook (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/twitter (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/whatsapp.svg" alt=""></button>
                </div>
                <h4>Investigador</h4>
                <p>
                    Bienvenido a [Nombre de la Plataforma], tu destino definitivo para explorar el fascinante mundo de la investigación y el conocimiento. En el corazón de nuestra plataforma se encuentra una comunidad vibrante de mentes curiosas, científicos visionarios y expertos apasionados que buscan impulsar el progreso y compartir descubrimientos que transforman el futuro.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="avatar-flip">
            <img src="Imagenes/Christo.jpg" height="150" width="150">
            <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
        </div>
        <div class="text-container">
            <div class="content">
                <div class="followdiv">
                    <h2>Christopher Ramón</h2>
                    <button class="follow"><img src="~/css/facebook (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/twitter (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/whatsapp.svg" alt=""></button>
                </div>
                <h4>Investigador</h4>
                <p>
                    Bienvenido a [Nombre de la Plataforma], tu destino definitivo para explorar el fascinante mundo de la investigación y el conocimiento. En el corazón de nuestra plataforma se encuentra una comunidad vibrante de mentes curiosas, científicos visionarios y expertos apasionados que buscan impulsar el progreso y compartir descubrimientos que transforman el futuro.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="avatar-flip">
            <img src="Imagenes/zetina.jpg" height="150" width="150">
            <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
        </div>
        <div class="text-container">
            <div class="content">
                <div class="followdiv">
                    <h2>Roberto Zetina</h2>
                    <button class="follow"><img src="~/css/facebook (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/twitter (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/whatsapp.svg" alt=""></button>
                </div>
                <h4>Investigador</h4>
                <p>
                    Bienvenido a [Nombre de la Plataforma], tu destino definitivo para explorar el fascinante mundo de la investigación y el conocimiento. En el corazón de nuestra plataforma se encuentra una comunidad vibrante de mentes curiosas, científicos visionarios y expertos apasionados que buscan impulsar el progreso y compartir descubrimientos que transforman el futuro.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="avatar-flip">
            <img src="http://media.idownloadblog.com/wp-content/uploads/2012/04/Phil-Schiller-headshot-e1362692403868.jpg" height="150" width="150">
            <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
        </div>
        <div class="text-container">
            <div class="content">
                <div class="followdiv">
                    <h2>Arian Aguilar</h2>
                    <button class="follow"><img src="~/css/facebook (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/twitter (1).svg" alt=""></button>
                    <button class="follow"><img src="~/css/whatsapp.svg" alt=""></button>
                </div>
                <h4>Investigador</h4>
                <p>
                    Bienvenido a [Nombre de la Plataforma], tu destino definitivo para explorar el fascinante mundo de la investigación y el conocimiento. En el corazón de nuestra plataforma se encuentra una comunidad vibrante de mentes curiosas, científicos visionarios y expertos apasionados que buscan impulsar el progreso y compartir descubrimientos que transforman el futuro.
                </p>
            </div>
        </div>
    </div>

</div>