@{
    ViewData["Title"] = "Articulos";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Articulos.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="row">
    <div class="au-title">
        <h1 class="title">Listado de articulos</h1>
        <h2 class="subtitle">Articulos en tendencia</h2>
    </div>
    <div class="column">
        <div class="card">
            <div class="contenido-card">
                <div class="ttext">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteral</h3>
                </div>
                <div class="text">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
            <div class="imag-card">
                <img src="~/css/fondo-login.jpg" alt="">
            </div>
        </div>
    </div>
    <h2 class="subtitle">Explora más</h2>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="/css/fondo-login.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner"></div>