@model IEnumerable<ProyectoWebDL.Models.Entities.Articulo>

@{
    ViewData["Title"] = "Articulos";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Articulos.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="row">
    <div class="au-title">
        <br>
        <br>
        <br>
        <h1 class="title">Listado de articulos</h1>

        <h2 class="subtitle">Articulos en tendencia</h2>
    </div>
    @if (Model.Any())
    {
        var primerArticulo = Model.FirstOrDefault(); // o Model.FirstOrDefault() para evitar una excepción si la lista está vacía

        <div class="column">
            <div class="card">
                <div class="contenido-card">
                    <div class="ttext">
                        <h3 class="subtitleh3">@Html.DisplayFor(x => primerArticulo.Nombre)</h3>
                    </div>
                    <div class="text">
                        @Html.DisplayFor(x => primerArticulo.Descripcion)
                    </div>
                </div>
                <div class="imag-card">
                    <img src="/@Html.DisplayFor(x => primerArticulo.UrlImagenPath)">
                </div>
            </div>
        </div>
    }

    <h2 class="subtitle">Explora más</h2>
    @foreach (var Item in Model)
    {
        <div class="column2">
            <div class="card2">
                <div class="contenido-card2">
                    <div class="imag-card2">
                        <img src="/@Html.DisplayFor(x => Item.UrlImagenPath)">
                    </div>
                    <div class="ttext2">
                        <h3 class="subtitleh3">@Html.DisplayFor(x => Item.Nombre )</h3>
                    </div>
                    <div class="text2">
                        @Html.DisplayFor(x => Item.Descripcion)
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
<div class="spinner"></div>

@section footer1 {
    <div class="hidden-footer1-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}