@{
    ViewData["Title"] = "Home Page";
}
<section class="fondo">
    <div class="banner container-fluid">
        <div class="contenido">
            <img src="~/css/energia-atomica.png" alt="Icono" class="icono">
            <h1>Apasionados por la investigación</h1>
        </div>
    </div>

    <div class="container icons-container">
        <div class="icono-carrera">
            <img src="~/css/biotecnología.png" alt="Icono 1 de carrera">
            <p class="nombre-carrera">Biotecnología</p>
        </div>
        <div class="icono-carrera">
            <img src="~/css/biomedica.png" alt="Icono 2 de carrera">
            <p class="nombre-carrera">Biomedica</p>
        </div>
        <div class="icono-carrera">
            <img src="~/css/Terapia fisica.png" alt="Icono 2 de carrera">
            <p class="nombre-carrera">Terapia fisica</p>
        </div>
        <div class="icono-carrera">
            <img src="~/css/finanzas.png" alt="Icono 2 de carrera">
            <p class="nombre-carrera">Administración</p>
        </div>
        <div class="icono-carrera">
            <img src="~/css/SOFTWARE.png" alt="Icono 2 de carrera">
            <p class="nombre-carrera">Software</p>
        </div>
        <div class="icono-carrera">
            <img src="~/css/finanzas1.png" alt="Icono 2 de carrera">
            <p class="nombre-carrera">Finanzas</p>
        </div>
    </div>


    <section class="contenedor-cards-footer">
        <h2>Explora nuestros artículos más recientes...</h2>
        <div class="card">
            <div class="image">
                <img src="~/Images/ciencia.png" alt="Placeholder Image">
                <div class="title">Tu Título Aquí</div>
            </div>
            <div class="text">
                <p>Cuando se trata de desarrollar aplicaciones de escritorio, puedes considerar el uso de C++ o Java. Sin embargo, puede sorprenderte saber que también puedes utilizar JavaScript para crear aplicaciones para Windows, OSX y muchas otras plataformas. ¡Sí, es verdad! Utilizando Electron.js, puedes construir una aplicación de escritorio con JavaScript.</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="~/Images/ciencia.png" alt="Placeholder Image">
                <div class="title">Tu Título Aquí</div>
            </div>
            <div class="text">
                <p>Cuando se trata de desarrollar aplicaciones de escritorio, puedes considerar el uso de C++ o Java. Sin embargo, puede sorprenderte saber que también puedes utilizar JavaScript para crear aplicaciones para Windows, OSX y muchas otras plataformas. ¡Sí, es verdad! Utilizando Electron.js, puedes construir una aplicación de escritorio con JavaScript.</p>
            </div>
        </div>
    </section>
</section>
