@model IEnumerable<ProyectoWebDL.Models.Entities.Articulo>
@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<section class="fondo">
    <div class="banner container-fluid">
        <div class="contenido">
            <img src="~/css/energia-atomica.png" alt="Icono" class="icono">
            <h1>Apasionados por la investigación</h1>
        </div>
    </div>

    <div class="container icons-container">

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/biotecnología.png" alt="Icono 1 de carrera">
                <p class="nombre-carrera">Biotecnología</p>
            </div>
        </a>

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/biomedica.png" alt="Icono 2 de carrera">
                <p class="nombre-carrera">Biomedica</p>
            </div>
        </a>

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/Terapia fisica.png" alt="Icono 2 de carrera">
                <p class="nombre-carrera">Terapia fisica</p>
            </div>
        </a>

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/finanzas.png" alt="Icono 2 de carrera">
                <p class="nombre-carrera">Administración</p>
            </div>
        </a>

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/SOFTWARE.png" alt="Icono 2 de carrera">
                <p class="nombre-carrera">Software</p>
            </div>
        </a>

        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
            <div class="icono-carrera">
                <img src="~/css/finanzas1.png" alt="Icono 2 de carrera">
                <p class="nombre-carrera">Finanzas</p>
            </div>
        </a>
        
        
        
        
        
        
    </div>


    <section class="contenedor-cards-footer">
        <h2>Explora nuestros artículos más recientes...</h2>

        @foreach (var Item in Model)
        {
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Articulos">
                <div class="card">
                    <div class="image">
                        <img src="/@Html.DisplayFor(x => Item.UrlImagenPath)" alt="Placeholder Image">
                        <div class="title">@Html.DisplayFor(x => Item.Nombre)</div>
                    </div>
                    <div class="text">
                        <p>@Html.DisplayFor(x => Item.Descripcion )</p>
                    </div>
                </div>
            </a>
        }

    </section>
</section>