@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

@* Sobrescribe la sección 'navbar' para esta vista *@
@section navbar {
    <div class="hidden-navbar-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}

<link rel="" href="~/js/Login.js" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<div class="login">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-login" src="~/css/energia-atomica.png" alt=""><h1>ScireHub</h1></a>

        <table>
            <tr>
                <th>
                    <input type="text" id="user" name="u" placeholder="Correo o Usuario" required="required" />
                </th>
                <th> <input type="password" id="password" name="p" placeholder="Contraseña" required="required" /> </th>
            </tr>
            <tr>
            </tr>
        </table>
        <a class="olvido" href="#">¿Olvidaste tu contraseña?</a>

        <button type="submit" id="Login" class="btn btn-primary btn-block btn-large">Iniciar sesión </button>

        <h5 class="nuevo">¿Eres nuevo?</h5>

    <button type="submit" class="btn btn-primary btn-block btn-large btn-crear-cuenta"><a asp-area="" asp-controller="Home" asp-action="Registrar">Crear cuenta</a></button>
</div>


<script>
    $(document).ready(function () {
        $("#Login").click(function () {

            var user = $("#user").val();
            var password = $("#password").val();
            alert(user)
            console.log(user)
            $.ajax({
                url: "/Home/LoginUser",
                type: "POST",
                data: {
                    "user": user,
                    "password": password
                },
                dataType: "json",
                success: function (response) {
                    console.log(response)

                    if (response.success == true) {

                        debugger
                        if (response.admin == true) {
                            window.location.href = "/Usuario/Index";
                        }
                        else if (response.investigador == true) {
                            window.location.href = "/Home/Index";
                        }else
                            window.location.href = "/Home/Index";

                    }
                    else

                        $("#parrafo1").html("<div  class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Usuario o contraseña incorrecto</strong> Intentalo de nuevo.</div>");

                },
                error: function () {
                    console.log('Login Fail Xc   !!!');
                }
            });
        });




    });

</script>

@section footer1 {
    <div class="hidden-footer1-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}