@{
    ViewData["Title"] = "Miperfil";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Miperfil.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="row">
    <div class="au-title">
        <h1 class="title">Javier Olivera</h1>
    </div>
    <div class="column">
        <div class="card">
            <div class="imag-card">
                <img class="fotoperfil" src="~/Images/fierro.jpg" alt="">
                <img class="lupa" src="~/Images/person-check-fill.svg" alt=""><p>587 Seguidores</p><p>-</p><p>234 Articulos</p>
            </div>
            <div class="contenido-card">
                <h2 class="subtitle">Investigador de proteínas funcionales y péptidos bioactivos</h2>
                <div class="sonlas3am">
                    <div class="dtags">
                        <h4 class="tags">Diseñador</h4><h4 class="tags"> - </h4><h4 class="tags">Biotecnologo</h4>
                    </div>
                    <div class="dtags">
                        <h4 class="tags">UPQROO</h4><h4 class="tags"> - </h4><h4 class="tags">Biología Molecular</h4>
                    </div>
                </div>
                <div class="redes">
                    <img src="~/css/whatsapp.svg" alt="">
                    <img src="~/css/facebook (1).svg" alt="">
                    <img src="~/css/twitter (1).svg" alt="">
                    <div class="btn"> <img class="lupa" src="~/Images/person-add.svg" alt=""> <h4 class="txtbtn">Seguir</h4></div>
                    <div class="btn2"> <img class="lupa" src="~/Images/chat-dots-fill.svg" alt=""> <h4 class="txtbtn">Mensaje</h4></div>
                    <div class="btn3"> <img class="lupa" src="~/Images/search.svg" alt=""> <h4 class="txtbtn">Buscar</h4></div>
                </div>
            </div>
        </div>
    </div>
    <div class="columncontent">
        <div class="card1">
            <div class="contenido-card1">
                <div class="ttext">
                    <h3 class="subtitleh3">Acerca de mí...</h3>
                </div>
                <div class="text">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
            <div class="img-card">
                <img src="~/css/fondo-login - Copia.jpg" alt="">
            </div>
        </div>
    </div>

    <h2 class="subtitles">Articulos fijados...</h2>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="~/css/fondo-login - Copia.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="contenido-card2">
                <div class="imag-card2">
                    <img src="~/css/fondo-login - Copia.jpg" alt="">
                </div>
                <div class="ttext2">
                    <h3 class="subtitleh3">Proteínas y péptidos en nutrición enteralsenciales para el crecimiento y el mantenimiento corporal.</h3>
                </div>
                <div class="text2">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
        </div>
    </div>
    <h2 class="subtitles">Algunos colaboradores...</h2>
    <div class="container-colab">
        <div class="container">
            <div class="avatar-flip">
                <img src="~/Images/Axel.jpg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Rodolfo Hernandez</h2>
                <button class="follow"><img src="~/css/fondo-login - Copia.jpg" alt=""></button>
            </div>

            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>
        <div class="container">
            <div class="avatar-flip">
                <img src="/Images/Christo.jpg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Rodolfo Hernandez</h2>
                <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
            </div>

            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>
        <div class="container">
            <div class="avatar-flip">
                <img src="~/Images/zetina.jpg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Rodolfo Hernandez</h2>
                <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
            </div>

            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>
    </div>
    <h2 class="subtitles">Explora otros articulos...</h2>
    <div class="column3">
        <div class="card3">
            <div class="contenido-card3">
                <div class="ttext">
                    <h3 class="subtitleh3">Acerca de mí...</h3>
                </div>
                <div class="text">
                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                </div>
            </div>
            <div class="img-card">
                <img src="~/css/fondo-login - Copia.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="asd">
        <div class="column3">
            <div class="card3">
                <div class="contenido-card3">
                    <div class="ttext">
                        <h3 class="subtitleh3">Acerca de mí...</h3>
                    </div>
                    <div class="text">
                        Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                    </div>
                </div>
                <div class="img-card">
                    <img src="~/css/fondo-login - Copia.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="asd">
            <div class="column3">
                <div class="card3">
                    <div class="contenido-card3">
                        <div class="ttext">
                            <h3 class="subtitleh3">Acerca de mí...</h3>
                        </div>
                        <div class="text">
                            Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                        </div>
                    </div>
                    <div class="img-card">
                        <img src="~/css/fondo-login - Copia.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="asd">
                <div class="column3">
                    <div class="card3">
                        <div class="contenido-card3">
                            <div class="ttext">
                                <h3 class="subtitleh3">Acerca de mí...</h3>
                            </div>
                            <div class="text">
                                Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                            </div>
                        </div>
                        <div class="img-card">
                            <img src="~/css/fondo-login - Copia.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="asd">
                    <div class="column3">
                        <div class="card3">
                            <div class="contenido-card3">
                                <div class="ttext">
                                    <h3 class="subtitleh3">Acerca de mí...</h3>
                                </div>
                                <div class="text">
                                    Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                                </div>
                            </div>
                            <div class="img-card">
                                <img src="~/css/fondo-login - Copia.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <di class="asd">
                        <div class="column3">
                            <div class="card3">
                                <div class="contenido-card3">
                                    <div class="ttext">
                                        <h3 class="subtitleh3">Acerca de mí...</h3>
                                    </div>
                                    <div class="text">
                                        Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                                    </div>
                                </div>
                                <div class="img-card">
                                    <img src="~/css/fondo-login - Copia.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="asd">
                            <div class="column3">
                                <div class="card3">
                                    <div class="contenido-card3">
                                        <div class="ttext">
                                            <h3 class="subtitleh3">Acerca de mí...</h3>
                                        </div>
                                        <div class="text">
                                            Las proteínas son macronutrientes esenciales para el crecimiento y el mantenimiento corporal. La calidad de la proteína está determinada por el perfil y proporción de aminoácidos, solubilidad y grado de glicosilación. La complementación proteica mejora la biodisponibilidad de proteínas de baja calidad. En los últimos años, las proteínas funcionales y los péptidos bioactivos están cobrando gran importancia por sus efectos biológicos específicos, como anticancerígenos, antibacterianos y antivirales.
                                        </div>
                                    </div>
                                    <div class="img-card">
                                        <img src="~/css/fondo-login - Copia.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
