@model IEnumerable<ProyectoWebDL.Models.Entities.Articulo>
@{
    ViewData["Title"] = "Miperfil";
}

<link rel="stylesheet" href="~/css/Miperfil.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="row">
    <div class="au-title">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="title">Roberto Fierro</h1>
    </div>
    <div class="column">
        <div class="card">
            <div class="imag-card">
                <img class="fotoperfil" src="/Images/fierro.jpeg" alt="">
                <img class="lupa" src="~/Images/person-check-fill.svg" alt=""><p>587 Seguidores</p><p>-</p><p>234 Articulos</p>
                <div class="contenido-card">
                    <h2 class="subtitleinv">..</h2>

                    <div class="redes">
                        <img src="~/css/whatsapp.svg" alt="">
                        <img src="~/css/facebook (1).svg" alt="">
                        <img src="~/css/twitter (1).svg" alt="">
                        <div class="btn"> <img class="lupa" src="~/Images/person-add.svg" alt=""> <h4 class="txtbtn">Seguir</h4></div>
                        <div class="btn2"> <img class="lupa" src="~/Images/chat-dots-fill.svg" alt=""> <h4 class="txtbtn">Mensaje</h4></div>
                        <div class="btn3"> <img class="lupa" src="~/Images/search.svg" alt=""> <h4 class="txtbtn">Buscar</h4></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="columncontent">
        <div class="card1">
            <div class="contenido-card1">
                <div class="ttext">
                    <h3 class="subtitleh3">Acerca de mí...</h3>
                </div>
                <div class="text">
                    Como investigador, mi trayectoria se ha forjado a través de una pasión inquebrantable por descubrir y comprender los misterios que rodean mi área de especialización. A lo largo de los años, he dedicado mi tiempo y energía a la exploración de desafíos científicos, abordando preguntas que estimulan la curiosidad y despiertan el deseo de conocimiento. Mis esfuerzos se centran en la búsqueda constante de respuestas innovadoras, utilizando métodos rigurosos y tecnologías de vanguardia. Mi compromiso con la excelencia investigativa se refleja en la búsqueda incansable de contribuir al avance de mi campo, con la convicción de que cada experimento y descubrimiento son piezas esenciales en el rompecabezas del conocimiento científico. Como investigador, abrazo la emoción de lo desconocido y me embarco en un viaje continuo hacia el entendimiento más profundo de nuestro mundo.
                </div>
            </div>
            <div class="img-card">
                <img src=/css/CellsAndDNA_Share.jpg - Copia.jpg" alt="">
            </div>
        </div>
    </div>

    <h2 class="subtitles">Articulos fijados...</h2>

    @if (Model.Any())
    {
        var primerArticulo = Model.FirstOrDefault(); // o Model.FirstOrDefault() para evitar una excepción si la lista está vacía

        <div class="column2">
            <div class="card2">
                <div class="contenido-card2">
                    <div class="imag-card2">
                        <img src="/@Html.DisplayFor(x => primerArticulo.UrlImagenPath)">
                    </div>
                    <div class="ttext2">
                        <h3 class="subtitleh3">@Html.DisplayFor(x => primerArticulo.Nombre)</h3>
                    </div>
                    <div class="text2">
                        @Html.DisplayFor(x => primerArticulo.Descripcion)
                    </div>
                </div>
            </div>
        </div>
    }

    <h2 class="subtitles">Algunos colaboradores...</h2>
    <div class="container-colab">

        <div class="container">

            <div class="avatar-flip">
                <img src="/Images/cetina.jpeg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Roberto Zetina</h2>
                <button class="follow"><img src="/Images/person-add.svg" alt=""></button>
            </div>
            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>

        <div class="container">
            <div class="avatar-flip">
                <img src="/Images/cristofer.jpeg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Christopher Ramón</h2>
                <button class="follow"><img src="/Images/person-add.svg" alt=""></button>
            </div>

            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>

        <div class="container">
            <div class="avatar-flip">
                <img src="/Images/koutinho.jpg" height="150" width="150">
                <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/02/CD.gif?fit=480%2C270&quality=50&strip=all&ssl=1" height="150" width="150">
            </div>
            <div class="followdiv">
                <h2 class="name">Axel Coutiño</h2>
                <button class="follow"><img src="/Images/person-add.svg" alt=""></button>
            </div>

            <h4 class="job">Investigador</h4>
            <p class="desc">Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas.</p>
        </div>

    </div>

    <h2 class="subtitles">Explora otros articulos...</h2>

    @foreach (var Item in Model)
    {
        <div class="column3">
            <div class="card3">
                <div class="contenido-card3">
                    <div class="ttext">
                        <h3 class="subtitleh3">@Html.DisplayFor(x => Item.Nombre)</h3>
                    </div>
                    <div class="text">
                        @Html.DisplayFor(x => Item.Descripcion)
                    </div>
                </div>
                <div class="img-card">
                    <img src="/@Html.DisplayFor(x => Item.UrlImagenPath)">
                </div>
            </div>

        </div>
    }

</div>
 
@section footer1 {
    <div class="hidden-footer1-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}