@model ProyectoWebDL.Models.Entities.Usuario
@{
    ViewData["Title"] = "Registrate";
}


<link rel="stylesheet" href="~/css/Registrarse.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

@* Sobrescribe la sección 'navbar' para esta vista *@
@section navbar {
    <div class="hidden-navbar-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}

<div class="login">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-login" src="~/css/energia-atomica.png" alt=""><h1>ScireHub</h1></a>

    <form asp-action="Registrar" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>
                    <input asp-for="Correo" type="email" placeholder="Correo electronico" required="required" />
                </th>

                <th>
                    <input asp-for="Nombre" type="text" placeholder="Nombre" required="required" />
                </th>
            </tr>
            <tr>
                <th>
                    <input asp-for="Apellido1" type="text" placeholder="Apellido Paterno" required="required" />
                </th>

                <th>
                    <input asp-for="Apellido2" type="text" placeholder="Apellido Materno" required="required" />
                </th>
            </tr>
            <tr>
                <th>
                    <input asp-for="NombreUsuario" type="text" placeholder="Usuario" required="required" />
                </th>

                <th>
                    <input asp-for="Contraseña" type="password" placeholder="Contraseña" required="required" />
                </th>
            </tr>
        </table>
        <a class="yatengocuenta" href="Login">¿Ya tienes una cuenta?</a>
        <button type="submit" class="btn btn-primary btn-block btn-large">
            Crear cuenta
        </button>
    </form>
</div>

@section footer1 {
    <div class="hidden-footer1-content">
        <!-- Este contenido reemplazará la barra de navegación en esta vista -->
    </div>
}