@{
    ViewData["Title"] = "Miperfil";
    Layout = null;
}

<link rel="stylesheet" href="~/css/SubirInv.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="contenedor-subir">
    <div class="subirtitle">
        <h3 class="subirtitlep">Subir investigación</h3>

    </div>
    <h2 class="namearticle">+ Nombre del articulo</h2>
    <textarea class="añadir" placeholder="Añadir nombre del articulo" rows="10"></textarea>
    <div class="separator-line"></div>
    <h2 class="namearticle">+ Añade una imagen para el articulo</h2>
    <div class="subirimg">
        <div class="cont-img" id="contImg">
            <img class="uploaded-img" id="uploadedImg" src="~/Images/camera.svg" alt="">
        </div>
        <input type="file" id="fileInput" style="display: none;" />
        <label for="fileInput" class="btn" id="btnUpload">
            <h4 class="txtbtn">Seleccionar archivo</h4>
        </label>
    </div>
    <div class="separator-line"></div>
    <h2 class="namearticle">+ Sinopsis del articulo </h2>
    <textarea class="sinopsis" placeholder="Escribe aquí..." rows="10"></textarea>
    <div class="separator-line"></div>
    <h2 class="namearticle">+ Etiquetas </h2>
    <div class="tags">
        <div class="tag">
            <h4 class="txtbtn">Programación</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">IA</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">HTML</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">Angular</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">Seguir</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">View</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">Aws</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">Bitcoin</h4>
        </div>
        <div class="tag">
            <h4 class="txtbtn">JavaScript</h4>
        </div>
    </div>

    <div class="separator-line"></div>
    <h2 class="namearticle">+ Sube tu archivo </h2>
    <div class="cont-archivo">
        <h2 class="namearticle">+ Añade el PDF </h2>
        <input type="file" id="fileInput" style="" />
        <label for="fileInput" class="file" id="btnUpload">Seleccionar archivo PDF</label>
        <h2 class="namearticle">¿Como subirás tu archivo? </h2>
        <div class="container-ps">
            <div class="pyp">
                <img class="imgarchivo" src="/Images/globe.svg" alt="">
                <div class="textarchivos">
                    <h2 class="titlearchivo">Repositorio publico y privado</h2>
                    <h4 class="subtitlearchivo">
                        Al seleccionar esta opción estás aprobando que tu artículo se vuelva
                        público con una copia en privado
                    </h4>
                </div>

            </div>

            <div class="priv">
                <img class="imgarchivo" src="/Images/person-fill-lock.svg" alt="">
                <div class="textarchivos">
                    <h2 class="titlearchivo">Repositorio privado</h2>
                    <h4 class="subtitlearchivo">
                        Al seleccionar esta opción estás aprobando que tu artículo se vuelva
                        público con una copia en privado
                    </h4>
                </div>

            </div>
            <div class="public">
                <img class="imgarchivo" src="/Images/person-check-fill.svg" alt="">
                <div class="textarchivos">
                    <h2 class="titlearchivo">Repositorio publico</h2>
                    <h4 class="subtitlearchivo">
                        Al seleccionar esta opción estás aprobando que tu artículo se vuelva
                        público con una copia en privado
                    </h4>
                </div>

            </div>

            <p>
                Al hacer uso de nuestros servicios, usted acepta los siguientes términos y condiciones. Lea
                detenidamente antes de continuar.
            </p>
            <div class="terminos">
                <div class="checkbox-container">
                    <input class="cb" type="checkbox" id="checkButton">
                    <label class="lab" for="checkButton"></label>
                    <img class="paloma" src="~/Images/check.svg" alt="">
                </div>
                <p class="lee">He leído y acepto las políticas de privacidad.</p>

            </div>

            <input type="file" id="fileInput" style="display: none;" />
            <label for="fileInput" class="btn2" id="btnUpload"><h2 class="h2btn">Subir articulo</h2></label>

        </div>



    </div>

</div>



<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const imgElement = document.getElementById('uploadedImg');
                imgElement.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    });

    document.getElementById('btnUpload').addEventListener('click', function () {
        document.getElementById('fileInput').click();
    });

</script>
