@model ProyectoWebDL.Models.Entities.Articulo
@{
    Layout = "_LayoutDashboard";
}
<div class="container-fluid">
    <div class="col-sm-8">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Crear articulo</strong></h1>

            </div>

            <div class="card-body">

                <form asp-action="Crear" method="post" enctype="multipart/form-data">


                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" required />

                    </div>

                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" placeholder="Ingresa el descripción" required />

                    </div>
                    <div class="form-group">
                        <label asp-for="Autor" class="control-label"></label>
                        <input asp-for="Autor" class="form-control" placeholder="Ingresa el o los autores" required />

                    </div>

                    <div class="form-group">
                        <label class="control-label"> Categoria</label>
                        <select asp-for="FkCategoria" asp-items="ViewBag.Categorias" class="select2-placeholder-multiple form-control">
                            <option value="">-- Selecciona --</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Img" class="control-label"></label>
                        <input asp-for="Img" class="form-control" type="file" name="Img" accept="image/*" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Pdf" class="control-label"></label>
                        <input asp-for="Pdf" class="form-control" type="file" name="Pdf" accept="pdf/*" required />
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto"><i class="bi bi-person-fill"></i> Guardar</button>
                    </div>

                </form>
                <a asp-controller="Articulo" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>
